.project-card {
  max-width: 500px;
  width: 500px;
}

.project-header-image {
  background-image: url('https://i7.pngguru.com/preview/154/803/764/computer-icons-user-profile-avatar.jpg');
  background-size: cover;
}

.project-header-image-edit {
  background-image: url('https://s1.iconbird.com/ico/2013/6/269/w512h5121371227384editprofile.png');
  background-size: cover;
}

.button-close {
  position: absolute;
  right : 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
.card-p {
  display: flex;
  margin: 10px auto 32px;
  padding: 0 16px;
  align-items: center;
  flex-direction: column;
  max-width: 960px;
}
