<mat-card class="employee-card" *ngIf="flagReadOnly">
      <mat-card-header>
        <button mat-icon-button class="button-close" color="primary" title="Закрыть" (click)="clickClose()">
          <mat-icon>close</mat-icon>
        </button>
        <div mat-card-avatar class="employee-header-image"></div>
        <mat-card-title>{{getFIO()}}
        </mat-card-title>
        <mat-card-subtitle>Дата рождения: {{employee.birthdayEmployee}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Логин: {{employee.iuadEmployee}}</p>
        <p>
          Список проектов:
        </p>
        <mat-list  role="list">
          <mat-list-item role="listitem" *ngFor="let project of employee.projects">
            {{project.nameProject}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
<!--        [routerLink]="['/card-e', employee]"-->
        <button mat-button (click)="clickEdit(employee)">Редактировать</button>
        <button mat-button (click)="clickDelete(employee)">Удалить</button>
      </mat-card-actions>
</mat-card>

<app-new-e [employee]="employee" [flagEdit]="flagEdit" *ngIf="!flagReadOnly" (editClose)="closeInfo($event)"></app-new-e>



